<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>

  <style> 

    body {
      background-image: url("https://lh3.googleusercontent.com/Y4qyeLjZoYenrKz6nC6k3OUylYU2myMsvqIVP-V5APrOnOEy-7nQQgrrIJxixvKl8j-7P7AZfAUMWk_Q3teZ4zMPCdr7IqBIrSv0MvvEsdm2Gz9oNyTpVvhm265yPvZRgC_lHksd=w2400");
      background-size: cover;
    }

    a.btn-lg {
      font-size: 3.5em;
      padding: 30px 120px;
      background-color: rgb(255, 255, 255, 0);
      color: rgb(255, 255, 255);
      border-color: rgb(255, 255, 255);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Sofia", sans-serif;
    }

    a.btn-lg:hover {
      background-color: rgba(255, 255, 255);
      border-color: rgb(255, 255, 255);
      color: rgb(236, 135, 214);
      text-shadow: 2px 2px 4px #cccccc;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .custom-fade {
      opacity: 0;
      animation: fadeIn 1s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
    }

  </style>

  <body class="fade-in custom-fade">
    <div class="container">

      <a class="btn btn-outline-light btn-lg" href="{{ url_for('accounts.login') }}">&#x1F603; LOGIN</a>
      
    </div>
  </body>
</html>
