<!DOCTYPE html>
<html>
  <head>
    <title>&#x2712; Register</title>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://lh3.googleusercontent.com/XxANzKGuZ4m1-h3QtAJcGXOACSOJcKR9pBVRS_S78eZjizMPp2W-UJGczMAZDoVsfdsDNZIN66vx5_UyAtv0BAhqCvWtImeqMKBoFH3erw6xc1nc72KcPdMUh3jk8eVcRr3lFOh6=w2400");
  background-size: cover;
  backdrop-filter: blur(5px);
}


.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.custom-btn-register {
  padding: 5px 15px;
  background-color: rgb(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  position: absolute;
  top: 74%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-btn-register:hover {
  background-color: rgb(236, 135, 214, 0.85);
  border-color: rgb(236, 135, 214);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.custom-btn-summit {
  padding: 5px 120px;
  background-color: rgb(236, 135, 214, 0.85);
  color: rgb(255, 255, 255);
  border-color: rgb(236, 135, 214);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-btn-summit:hover {
  background-color: rgb(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.mb-4 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 3px 3px 4px #ddb8e6;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sofia", sans-serif;
}

.form-floating {
  opacity: 0.8;
  position: relative;
  top: 30%;
  left: 0%;
  transform: translateY(-60px);
}

.checkbox {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line-container {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  position: relative;
  left: 0%;
  transform: translateY(65px);
}
.line {
  border-bottom: 2px solid rgb(255, 255, 255);
  width: 50%;
}
.or {
  width: 25%;
  text-align: center;
}

.alert-danger {
  padding: 5px 15px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-fade {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

</style>


  <body class="fade-in custom-fade">
    <div class="container">
      <div class="text-center">
        <main class="form-signin w-100 m-auto">
          <form action="{{ url_for('accounts.do_login') }}" method="POST">

            {{ form.hidden_tag() }}
            
              <h1 class="h3 mb-3 fw-normal">Welcome to Portfolio</h1>

              <div class="form-floating">
                <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>

              <div class="form-floating">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>

              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>

            <button class="btn btn-light btn-lg custom-btn-summit" type="submit">Sign in</button>

            <div class="line-container">
              <div class="line"></div>
              <div class="or">Or</div>
              <div class="line"></div>
            </div>
        
            <a class="btn btn-light btn-lg custom-btn-register" href="{{ url_for('accounts.register') }}">Create Account</a>

          </form>
          
          {% if request.args | length > 0 %}

            <div  class="alert alert-danger" role="alert">
              <ul>
              {% for k, v in request.args.items() %}
                <li><b>{{ k }}: </b> {{ v }}</li>
              {% endfor %}
              </ul>
            </div>

          {% endif %}
        
        </main>  
      </div>
    </div>
  </body>
</html>
