<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>

  <style> 

    body {
      background-image: url("https://lh3.googleusercontent.com/4L3OY5ON22duxNGYnlogv9BgUT8J7tFjqweRb4EkRe7V6GArEitbqQVX-Wl2V78w_rBZ-elgEekWAnKfLSz8OVaMvyT2xBm29syPqM5_ExeZrNVGMH8iKF4Qdq4j4BETYecfK1Z85A=w2400");
      background-size: cover;
    }

    a.btn-lg {
      font-size: 3.5em;
      padding: 30px 120px;
      background-color: rgb(255, 255, 255, 0);
      color: rgb(255, 255, 255);
      border-color: rgb(255, 255, 255);
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Sofia", sans-serif;
    }

    a.btn-lg:hover {
      background-color: rgba(255, 255, 255);
      border-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      text-shadow: 2px 2px 4px #cccccc;
    }

    figure {
      position: absolute;
      top: 60%;
      left: 22.5%;
      transform: translate(-50%, -50%);
    }

    .custom-card1 {
      width: 22.5%;
      position: absolute;
      top: 28.5%;
      left: 45%;
      background-color: rgba(255, 255, 255, 0.7);
    }

    .custom-card2 {
      width: 46%;
      position: absolute;
      top: 54%;
      left: 45%;
      background-color: rgba(255, 255, 255, 0.7);
    }

    .custom-card3 {
      width: 22.5%;
      position: absolute;
      top: 28.5%;
      left: 68.5%;
      background-color: rgba(255, 255, 255, 0.7);
    }

    .custom-btn-back {
        background-color: rgb(236, 135, 214, 0.85);
        border-color: rgb(236, 135, 214);
        color: rgb(255, 255, 255);
      }

    .custom-btn-back:hover {
      padding: 5px 15px;
      background-color: rgb(255, 255, 255, 0);
      color: rgb(255, 255, 255);
      border-color: rgb(255, 255, 255);
      font-weight: bold;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .custom-fade {
      opacity: 0;
      animation: fadeIn 1s;
      animation-delay: 0.3s;
      animation-fill-mode: forwards;
    }

  </style>
  
  

  <body class="fade-in custom-fade">
    <a class="btn btn-outline-light btn-lg" href="{{ url_for('accounts.myfolio') }}">&#128512; My Portfolio</a>

    <figure class="figure">
      <img src="https://media.giphy.com/media/PgiNMz22RqkgKxZHw9/giphy.gif" class="figure-img img-fluid rounded" alt="...">
    </figure>

    <div class="card custom-card1">
      <div class="card-header">
        Mevika Yuentrakul
      </div>
      <div class="card-body">
        <p class="card-text">Email : 6510110678@psu.ac.th</p>
        <p class="card-text">Date of Birth : 01/01/1995</p>
        <p class="card-text">Phone : 06 2143 0380</p>
      </div>
    </div>
      
    <div class="card custom-card2">
      <div class="card-header">
        Education 🏫
      </div>
      <div class="card-body">
        <p class="card-text">- Saint Mary's School, Udon Thani, 2009 - 2015</p>
        <p class="card-text">- Udon Pittayanukul School, Udon Thani, 2016 - 2017</p>
        <p class="card-text">- San Kamphaeng School, Chiang Mai, 2018 - 2021</p>
        <p class="card-text">- Prince of Songkla University, Songkhla Province 2022 - Present</p>
        <a href="{{ url_for('accounts.dashboard') }}" class="btn btn-outline-light custom-btn-back">Back</a>
      </div>
    </div>

    <div class="card custom-card3">
      <div class="card-header">
        Favorites
      </div>
      <div class="card-body">
        <p class="card-text">- Gaming (e.g. video games) 🎮</p>
        <p class="card-text">- Listening to music 🎧</p>
        <p class="card-text">- Photography 📷</p>
      </div>
    </div>

  </body>

</html>
