<!DOCTYPE html>
<html>
  <head>
    <title>&#x2712; Register</title>
    <link href="https://fonts.googleapis.com/css?family=Sofia" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("https://lh3.googleusercontent.com/ZN5fNuE2tnJlY7jJ81KMo0C5CIbCzjLrkA2D7vVz3yJhHbIFpzAWOmuebkCMqLo1swWfcurewuUOsLF_t-uGUvvrfSFyswCAlmgB-l5H69UN_z1tBCa5YElOgSBwgn6NtjsRZkOK2w=w2400");
  background-size: cover;
  backdrop-filter: blur(5px);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pen-emoji {
  font-size: 3em;
  text-shadow: 2px 2px 4px #616161;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h3 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  text-shadow: 3px 3px 4px #616161;
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Sofia", sans-serif;
}

.form-floating {
  opacity: 0.8;
  position: relative;
  left: 0%;
  transform: translateY(30px);
}

.custom-btn-register {
  padding: 5px 110px;
  background-color: rgb(255, 255, 255, 0.85);
  color: rgb(0, 0, 0);
  border-color: rgb(255, 255, 255);
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-btn-register:hover {
  background-color: rgb(255, 255, 255, 0);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: repeat(1,5);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.custom-font {
  color: rgb(255, 255, 255);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.custom-fade {
  opacity: 0;
  animation: fadeIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

</style>

<body class="fade-in custom-fade">
  <div class="container">

    <div class="text-center"> 

      <main class="form-signin w-100 m-auto">

        <form  method="POST">
          {{ form.hidden_tag() }}
          <span class="pen-emoji">&#x2712;</span>

          <h1 class="h3 mb-3 fw-normal">Register</h1>

          <div class="form-floating">
            {{ form.email(class_="form-control") }}
              <label for="floatingInput">Email address</label>
          </div>

          <div class="form-floating">
            {{ form.password(class_="form-control") }}
            <label for="floatingPassword">Password</label>
          </div>

          <div class="form-floating">
            {{ form.first_name(class_="form-control") }}
            <label for="floatingFirstname">Firstname</label>
          </div>

          <div class="form-floating">
            {{ form.last_name(class_="form-control") }}
            <label for="floatingLastName">LastName</label>
          </div>      

          <button class="btn btn-outline-light custom-btn-register" type="submit">Register</button>
        </form>
        
        {% if request.args | length > 0 %}
          <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
            <ul>
            {% for k, v in request.args.items() %}
              <li><b>{{ k }}: </b> {{ v }}</li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}

      </main>

    </div>

  </div>
</body>
</html>
