
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Dashboard Template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      body {
        background-image: url("https://lh3.googleusercontent.com/Zsc8mV3K1shc66Evk1gK3mPJ7tf-mN5qUyB984-_olCz959gudvLcx6rWL-z2B_cH55BsU9Rq1iiNalMp2GcHZOQbHhN810dsWKUCxQqXbdSMO2eny4C604iq9EPoS3MyCADQxvTOQ=w2400");
        background-size: cover;
      }

      .h2 {
        color:rgb(255, 255, 255);
        position: absolute;
        top: 10%;
        left: 5%;
      }

      .line {
        border-bottom: 2px solid rgb(255, 255, 255);
        width: 90%;
        position: absolute;
        top: 16%;
        left: 5%;
      }

      .card {
        width: 50%;
        position: absolute;
        top: 35%;
        left: 25%;
        background-color: rgba(255, 255, 255, 0.8);
      }

      .custom-btn-dashboard {
        background-color: rgb(236, 135, 214, 0.85);
        border-color: rgb(236, 135, 214);
        color: rgb(255, 255, 255);
      }

      .custom-btn-dashboard:hover {
        padding: 5px 15px;
        background-color: rgb(255, 255, 255, 0);
        color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        font-weight: bold;
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      .custom-fade {
        opacity: 0;
        animation: fadeIn 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>

<body class="fade-in custom-fade">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('accounts.dashboard') }}">Dashboard</a>

      <button class="navbar-toggler" 
              type="button"  
              data-bs-toggle="collapse" 
              data-bs-target="#navbarNavAltMarkup" 
              aria-controls="navbarNavAltMarkup" 
              aria-expanded="false" 
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link active" aria-current="page" href="{{ url_for('folios.create') }}">Create Folios</a>
          

          <a class="nav-link" href="#">My Port Folio</a>

          <a class="nav-link" href="{{ url_for('accounts.logout') }}">Log out</a>

        </div>
      </div>

      
    </div>
  </nav>

  <div class="container-fluid">
    <h1 class="h2">Dashboard</h1>
    <div class="line-container">
      <div class="line"></div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      {{ folio.name }}
    </div>
    <div class="card-body">
      <p class="card-text">Email : {{ folio.email }}</p>
      <p class="card-text">Biography : {{ folio.biography }}</p>
      <p class="card-text">Education : {{ folio.education }}</p>
      <a href="{{ url_for('accounts.dashboard') }}" class="btn btn-outline-light custom-btn-dashboard">Back</a>
    </div>
  </div>
    
</body>

 </body>
</html>

